<h1>{{categoria.nome}}</h1>

{{#each postagens}}
<div class="card mt-2">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success mt-2">Leia mais</button></a>
        <hr>
        <small>{{data}}</small>
    </div>
</div>
{{else}}
<p>Nenhuma postagem registrada!</p>
{{/each}}
