<h1>Postagens da categoria {{categoria.nome}}</h1>
<style>
    #hyperlink:link{
        text-decoration: none;
    }
    #hyperlink:hover {
        background-color: transparent;
        text-decoration: underline;
    }
</style>


{{#each postagens}}
<div class="card mt-2">
    <div class="card-body">
        <a href="/postagem/{{titulo}}" id="hyperlink"><h3>{{titulo}}</h3></a>
        <p>{{descricao}}</p>
        <hr>
        <small>{{data}}</small>
    </div>
</div>
{{else}}
<p>Nenhuma postagem registrada!</p>
{{/each}}
